#!/usr/bin/env bash

#--------------------Aliases--------------------
alias v='vim'
alias s='sudo'
alias jn="nohup jupyter-notebook --no-browser >/dev/null 2>&1 &" # open a jupyter server in the background

# Pacman
alias sp='sudo pacman'
alias sps='sudo pacman -S'
alias spr='sudo pacman -Rs'
alias syu='sudo pacman -Syu'

# Navigation
alias df='cd ~/dotfiles'
alias dfc='cd ~/dotfiles/.config'
alias ..='cd ..'
alias 2..='cd ../..'
alias 3..='cd ../../..'

# Source Files
alias sb='source ~/.bashrc'
alias sz='source ~/.zshrc'

# Listing Files
alias l='ls -F'
alias ll='ls -lF ${colorflag}'
alias lsa='ls -aF ${colorflag}'
alias la='ls -lAF ${colorflag}'
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias ls='command ls ${colorflag}'

# Directories
alias s22='cd ~/school/spring2022'

# Python
alias python='python3'

# Docker

alias dps='docker ps'
alias dlps='docker ps -a'
alias drun='docker run'
alias drit='docker run -it'
alias drrm='docker run --rm'
alias dexcit='docker exec -it'
alias dimg='docker images'
alias dsp='docker system prune'
alias dkill='docker kill'
alias drm='docker rm'
alias drmi='docker rmi'
alias dins='docker inspect'
