#!/usr/bin/env bash

#--------------------Aliases--------------------
alias v='nvim'
alias s='sudo'
alias jn=" jupyter notebook --ip='*' --NotebookApp.token='' --NotebookApp.password=''"

# Navigation
alias df='cd ~/dotfiles'
alias dfc='cd ~/dotfiles/.config'
alias ..='cd ..'
alias 2..='cd ../..'
alias 3..='cd ../../..'
alias hg='history |grep'
alias pg='ps aux |grep'
alias cdr='cd $(git rev-parse --show-toplevel)' # cd to the git root

# Source Files
alias sb='source ~/.bashrc'
alias sz='source ~/.zshrc'

# Listing Files
alias ls='ls -F'
alias ll='ls -lF'
alias lsa='ls -aF'
alias la='ls -lAF'
alias lsd="ls -lF| grep --color=never '^d'"

# Docker
alias dps='docker ps'
alias dil='docker image list'
alias dlps='docker ps -a'
alias drun='docker run'
alias drit='docker run -it'
alias drrm='docker run --rm'
alias dex='docker exec -it'
alias dimg='docker images'
alias dsp='docker system prune'
alias dkill='docker kill'
alias dstop='docker stop'
alias drm='docker rm'
alias drmi='docker rmi'
alias dins='docker inspect'

# Kubernetes
alias kc='kubectl'
alias kqa='kc delete all --all -n $(whoami)'

#Maven
alias mcs='mvn clean install -DskipTests'
alias mci='mvn clean install'

alias hse='helmfile sync -e'
alias hde='helmfile destroy -e'
alias vpn='sudo openfortivpn'

function paste() {
    if [[ "$OSTYPE" == "linux-gnu"* ]]; then
        xclip -o | sed -e "s/$/\n/"
    elif [[ "$OSTYPE" == "darwin"* ]]; then
        pbpaste | sed -e "s/$/\n/"
    fi
}
