[user]
    name = lanceberge
    email = bergeron.lance6@gmail.com
[core]
    editor = vim
[alias]
    b   = branch
    co  = checkout
    s   = status
    l   = log

    c   = commit
    cm  = commit -m
    cam = commit -am
    ca  = commit --amend -m

    d   = diff
    dc  = diff --cached
    r   = reset
    rr  = reset --soft
    rh  = reset --hard

    rs  = restore --staged
    R   = restore

    p   = push
    f   = pull

    a   = add
    aa  = add -A

    sp  = stash push
    sP  = stash pop

    lag = log --oneline --all --decorate=short --graph
[init]
    defaultBranch = main
[pull]
    ff = only
