[user]
    name = "Lance Bergeron"
    email = lance.bergeron@ccri.com
    signingkey = /home/labergeron/.ssh/id_rsa.pub
[core]
    editor = vim
	ignorecase = false
[alias]
    b   = branch
    co  = checkout
    s   = status
    l   = log

    c   = commit
    cm  = commit -m
    cam = commit -am
    ca  = commit --amend

    d   = diff
    dc  = diff --cached
    r   = reset
    rr  = reset --soft
    rh  = reset --hard

    sp  = stash push
    sP  = stash pop
    rmc = rm --cached

    rs  = restore --staged
    R   = restore

    p   = push
    f   = pull

    a   = add
    aa  = add -A

    sp  = stash push
    sP  = stash pop
    spu = stash push --include-untracked

    lag = log --oneline --all --decorate=short --graph
[init]
    defaultBranch = main
[gpg]
    format = ssh
[commit]
    gpgsign = true
[pull]
    ff = only
