[user]
    name = lanceberge
    email = bergeron.lance6@gmail.com

[core]
    editor = vim

[alias]
        co  = checkout
        s   = status
        l   = log

        c   = commit
        cm  = commit -m
        cam = commit -am

        d   = diff
        dc  = diff --cached

        r   = reset
        rh  = reset --hard


        p   = push
        f   = pull

        a   = add
        aa  = add -A
