* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

#workspaces {
  padding-top: 10px;
  margin-left: 0;
}

#workspaces button {
  all: initial;
  min-width: 34px;
  min-height: 18px;
  padding: 2px 0;
  margin-right: 0;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#pulseaudio {
  padding-top: 6px;
}
#custom-clock-hour,
#custom-clock-separator,
#custom-clock-minute {
  min-width: 34px;
  margin-right: 0;
  padding: 0;
}

#custom-clock-separator {
  margin-top: 1px;
  margin-bottom: 1px;
}

#battery {
  min-width: 34px;
  margin-right: 0;
  padding-top: 6px;
  padding-bottom: 10px;
}

#network,
#pulseaudio,
#power-profiles-daemon,
#bluetooth {
  min-width: 34px;
  margin-right: 0;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

@import "./theme.css";
