miscrosoft-edge-dev
KDE
QtProject.conf
Trolltech.conf
akregatorrc
baloofilerc
dolphinrc
fontconfig/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kdeconnect/
kded5rc
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
okularpartrc
plasma-localerc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
systemsettingsrc
xsettingsd/akregatorrc
dconf
