# Exclude everything by default
*


!.gitignore
!.opencode/
!bspwm/
!fish/
!ghostty/
!hypr/
!i3/
!misc/
!nix/
!omarchy/
!omarchy/hooks/
!omarchy/hooks/theme-set
!omarchy/themes/
!omarchy/themes/matte-black/
!omarchy/themes/matte-black/colors.toml
!omarchy/themed/
!omarchy/themed/prompt-colors.sh.tpl
!nvim/
!polybar/
!sxhkd/
!tmux-sessionizer/
!waybar/
!waybar/config.jsonc
!wofi/
!pycodestyle
!jj/config.toml
!codex/
!codex/rules
!codex/rules/default.rules
